<app-login-home-layout></app-login-home-layout>
<div class="container col-md-9 mycontainer">
  <div class=" mybox mt-5 shadow-effect  ">
    <div class="card-body">
      <h2>Reset password</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="SubmitForm(resetPasswordForm)">
        <div class="form-group password">
          <label class="fpLabel password_labels">New password: </label>
          <input type="password" class="form-control password_input" formControlName="password"
                 placeholder="  ">
        </div>
        <div *ngIf="resetPasswordForm.controls['password'].errors?.['required'] &&  resetPasswordForm.controls['password'].touched"
             class="form-text text-danger">Password is required!</div>
        <div *ngIf="resetPasswordForm.controls['password'].errors?.['minlength'] &&  resetPasswordForm.controls['password'].touched"
             class="form-text text-danger">required atleast six Characters!</div>
        <div class="form-group password mt-2">
          <label class="fpLabel password_labels">Confirm password: </label>
          <input type="password" class="form-control password_input" formControlName="confirmpassword"
                 placeholder="  ">
        </div>
        <div *ngIf="resetPasswordForm.controls['confirmpassword'].errors?.['required'] &&  resetPasswordForm.controls['confirmpassword'].touched"
             class="form-text text-danger">Password is required!</div>
        <div *ngIf="resetPasswordForm.controls['confirmpassword'].errors?.['mustMatch'] &&  resetPasswordForm.controls['confirmpassword'].touched"
             class="form-text text-danger">Password should be same </div>
        <div class="btn-group btn-group-justified">
          <div><button type="submit" class="btn btn-theme reset_button">Save  </button></div>
          <div>
            <a routerLink="/login">
              <button type="cancel" class="btn btn-theme cancel_button">
                Cancel
              </button>
            </a>
          </div>
        </div>
      </form>

    </div>
    <div class="text-danger">{{msg1}}</div>
  </div>
</div>
