<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: var(--primary-color); ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LibSysApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/home" routerLinkActive="active-link"
                 [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="nav-item ml-3">
              <a routerLink="/viewBooks" class="nav-link" routerLinkActive="active-link">View Books</a>
            </li>

            <!--<li class="nav-item ml-3">
    <a routerLink="/register" href="" class="nav-link" routerLinkActive="active-link">Register</a>
  </li>-->

            <li class="nav-item ml-3">
              <a routerLink="/ViewPurchased" class="nav-link" routerLinkActive="active-link">Purchased Books</a>
            </li>
            <li class="nav-item ml-3">
              <a routerLink="/types-of-payments" class="nav-link" routerLinkActive="active-link">Payment Mode</a>
            </li>
            <li class="nav-item ml-3">
              <a routerLink="/feedback" class="nav-link" routerLinkActive="active-link">Feedback</a>
            </li>
            <li class="nav-item ml-3">
              <a routerLink="/login-home" class="nav-link" routerLinkActive="active-link">Logout</a>
            </li>
          </ul>
        </div>
    </div>
</nav>
<!--   <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                        <a routerLink="/viewBooks" class="nav-link" href="#" >View Books</a>
                      </li>
                </ul>
          </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                        <a routerLink="/login"class="nav-link" href="#">Login</a>
                      </li>
                  <li class="nav-item">
                        <a routerLink="/register" class="nav-link" href="#">Sign Up</a>
                      </li>
                </ul>
          </div> -->
<!-- </nav> -->
<!-- <header class="navbar navbar-expand-lg fixed-top bg-white">
    <div class="container justify-content-center">
        <a href="#" class="site-logo">LibSYS-APP</a>
    </div>
    
</header> -->
<!-- <app-navbar></app-navbar> -->
