<!-- <app-common-layout></app-common-layout> -->
<div class="container">
    <section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>“I pronounce after all there is no pleasure like perusing!”- Jane Austen, Pride and Prejudice.

                Dear readers,
                
                We offer a tremendous gathering of books in the various classifications of Fiction, Non-fiction, Biographies, History, Religions, Self – Help, and Children. We likewise move in immense accumulation of Investments and Management, Computers, Engineering, Medical, College, and School content references books proposed by various foundations as scheduled the nation over. Besides this, we offer an expansive gathering of E-Books at a reasonable value.
                
                </p>
                <p>“I pronounce after all there is no pleasure like perusing!”- Jane Austen, Pride and Prejudice.

                    Dear readers,
                    
                    We offer a tremendous gathering of books in the various classifications of Fiction, Non-fiction, Biographies, History, Religions, Self – Help, and Children. We likewise move in immense accumulation of Investments and Management, Computers, Engineering, Medical, College, and School content references books proposed by various foundations as scheduled the nation over. Besides this, we offer an expansive gathering of E-Books at a reasonable value.
                    
                    </p>
                    <div class="text-center">
                        <button class="btn btn-info btn-sm  mt-4 btn-theme" routerLink="\home">Back To Home</button>
                    </div>
        </div>
    </div>
</section>
</div>