<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: var(--primary-color); ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LibSysApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item ml-3">
                    <a routerLink="/login-home" class="nav-link" routerLinkActive="active-link">Home</a>
                </li>
                
                <li class="nav-item ml-3">
                    <a routerLink="/register" href="" class="nav-link" routerLinkActive="active-link">Register</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>