<app-login-home-layout></app-login-home-layout>
<div class="container col-md-9 ">
  <div class="mybox mt-5 shadow-effect">
    <div class="card-body">
      <h2>Forgot Password?</h2>
      <form [formGroup]="forgotPasswordForm ">
        <div class="form-group">
          <div class=" row">
            <div class="">
              <label class="fpLabel ">Enter Email Id </label>
              <input type="email" class="form-control " formControlName="emailId" placeholder="Enter Registered Email Id" />
            </div>
            <small *ngIf="forgotPasswordForm.controls['emailId'].errors?.['required'] &&  forgotPasswordForm.controls['emailId'].touched"
                   class="form-text text-danger">EmailId is required!</small>
            <small *ngIf="forgotPasswordForm.controls['emailId'].errors?.['pattern'] &&  forgotPasswordForm.controls['emailId'].touched"
                   class="form-text text-danger">The EmailId is not proper!</small>
          </div>
          <div>
            <div>
              <select name="" id="" class="form-control mt-3 mb-0" formControlName="question" required>
                <option value="">Select</option>
                <option value="option1">What city were you born in?</option>
                <option value="option2">What is your primary school name?</option>
                <option value="option3">What is your pet name?</option>
                <option value="option4">What is your Mother's Maiden name?</option>
              </select>
            </div>

            <small *ngIf="forgotPasswordForm.controls['question'].errors?.['required'] &&  forgotPasswordForm.controls['question'].touched"
                   class="form-text text-danger">Choose one question!</small>

            <input type="text" class="form-control mt-3" formControlName="answer" placeholder="Select above Question and Answer here" required>

          </div>
          <small *ngIf="forgotPasswordForm.controls['answer'].errors?.['required'] &&  forgotPasswordForm.controls['answer'].touched"
                 class="form-text text-danger">Answer is required!</small>

        </div>

        <br>
        <div class="text-left">
          <button type="submit" (click)="submit()" [disabled]="!forgotPasswordForm.valid" class="btn btn-theme"> Reset Password</button>
        </div>
        <div class="Register">
          <span><a routerLink="/login">Sign In</a></span>
        </div>
      </form>
    </div>
  </div>
</div>
