.container{
    display: flex;
    justify-content: center;
    color: var(--body-text-color);
    
}
.mybox{
    width: 400px;
    background-color: rgba(185, 214, 212, 0.5);
    padding: 10px 10px;
    border-radius: 25px;
}
.form-group{
    text-align: left;
}
.Register{
    justify-content: center;
    margin-top: 10px;
}
.fpLabel{
    margin-left: 0px;
    /* font-size: 14px; */
    font-weight: bold;
}
small{
    font-size: 12px;
}
/* .placeholder{
height:fit-content;
} */
.btn-theme{
    height: 35px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
::placeholder {

    /* font-style: italic; */

    font-size: 12px;

}