<div *ngIf="commonLayout">
    <app-common-layout></app-common-layout>
  </div>
  <div *ngIf="adminLayout">
    <app-admin-layout></app-admin-layout>
  </div>
<!-- <div class="container"> -->
    <!-- <div class="row mt-2 name"> -->
        <!-- <div class="col-md-12"> -->
            <div class="padding ">
                <div class="container ">
                    <div class="row col-md-6 offset-3 bg padding_row">
                    <!-- <div class="card-body" style="font-size: 14px;"> -->
                    <div class="row ">
                        <div class="col-md-9 offset-1 ">
                            <a routerLink="/upi" class="nav-link" routerLinkActive="active-link" href="" class="list-group-item">UPI</a>
                        </div>
                        <div class="col-md-2 mt-2">
                            <img class="img-responsive" src="assets\libSys-images\upi-icon-black.png" alt="UPI" width="40"
                                height="30">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-9 offset-1">
                            <a routerLink="/debitcard" class="nav-link" routerLinkActive="active-link" href="" class="list-group-item">Card Payment</a>
                        </div>
                        <div class="col-md-2 mt-2">
                            <img class="img-responsive" src="assets\libSys-images\Credit Card.jpg" alt="Debit Card"
                                width="40" height="30">
                        </div>
    
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-7 offset-2">
                            <a routerLink="/creditcard" class="nav-link" routerLinkActive="active-link" href="" class="list-group-item">Credit Card</a>
                        </div>
                        <div class="col-md-3 mt-2">
                            <img class="img-responsive" src="assets\libSys-images\Credit Card.jpg" alt="Debit Card"
                                width="40" height="30">
                        </div>
    
                    </div> -->
                    <div class="row ">
                        <div class="col-md-9 offset-1">
                            <a routerLink="/netbanking" class="nav-link" routerLinkActive="active-link" href="" class="list-group-item">Net Banking</a>
                        </div>
                        <div class="col-md-2 mt-2">
                            <img class="img-responsive" src="assets\libSys-images\NET BANKING.jpg" alt="Credit Card"
                                width="40" height="30">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-9 offset-1">
                            <a routerLink="/home" class="nav-link" routerLinkActive="active-link" href="" class="list-group-item">Cash on Delivery</a>
                        </div>
                        <div class="col-md-2 mt-2">
                            <img class="img-responsive" src="assets\libSys-images\COD.jpg" alt="COD" width="40" height="40">
                        </div>
                    </div>
                   </div>
    
                    <!-- </div> -->
                </div>
            </div>
        <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
