<app-register-layout></app-register-layout>
<div class="table-responsive ">
  <div class=" col-md-6 offset-3 mt-20">
    <div class="card-body">
      <h1 class="text-center"> Registration Form</h1>
      <form class="container" [formGroup]="registerForm" (ngSubmit)="submitRegisterForm(registerForm)">
        <div class="row my_row">
          <div class="row">
            <div class="col-md-6 form-group">
              <div class="name">
                <label class="form-label firstName_label">
                  First Name :<label class="imp">*</label>
                </label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="Enter your First Name">
              </div>
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['firstName'].errors?.['required'] && (registerForm.controls['firstName'].touched|| registerForm.controls['firstName'].dirty)">
                First Name is required!
              </div>
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['firstName'].errors?.['minlength'] && (registerForm.controls['firstName'].touched || registerForm.controls['firstName'].dirty)">
                First Name is too short. Atleast 2 characters
              </div>
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['firstName'].errors?.['pattern'] && (registerForm.controls['firstName'].touched || registerForm.controls['firstName'].dirty)">
                First Name should start with Alphabet.
              </div>
            </div>
            <div class="col-md-6  form-group">
              <div class="name">
                <label for="lastName" class="form-label lastName_label">
                  Last Name :<label class="imp">*</label>
                </label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Enter your Last Name">
              </div>
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['lastName'].errors?.['required'] && registerForm.controls['lastName'].touched">
                Last Name is required!
              </div>
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['lastName'].errors?.['minlength'] && registerForm.controls['lastName'].touched ">
                Last Name is too short. Atleast 2 characters
              </div>
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['lastName'].errors?.['pattern'] && registerForm.controls['lastName'].touched ">
                Second Name should start with Alphabet.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <div class="name">
                <label class="form-label emailId_label">EmailID :<label class="imp">*</label></label>
                <input type="text" class="form-control emailId_input" formControlName="emailId"
                  placeholder="Enter your EmailID">
              </div>
              <div
                *ngIf="registerForm.controls['emailId'].errors?.['required'] &&  registerForm.controls['emailId'].touched"
                class="form-text text-danger">EmailId is required!</div>
              <div
                *ngIf="registerForm.controls['emailId'].errors?.['pattern'] &&  registerForm.controls['emailId'].touched"
                class="form-text text-danger">The EmailId is not proper!</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <div class="name">
                <label class="form-label password_label">Password :<label class="imp">*</label></label>
                <input type="password" class="form-control" formControlName="password"
                  placeholder="Enter your Password">
              </div>
              <div
                *ngIf="registerForm.controls['password'].errors?.['required'] &&  registerForm.controls['password'].touched"
                class="form-text text-danger">Password is required!</div>
              <div
                *ngIf="registerForm.controls['password'].errors?.['minlength'] &&  registerForm.controls['password'].touched"
                class="form-text text-danger">Required atleast 6 Characters!</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6  form-group">
              <div class="name">
                <label for="mobileNumber" class="form-label mobileNumber_label ">
                  Mobile No. :<label class="imp">*</label>
                </label>
                <input type="" class="form-control" formControlName="mobileNumber" placeholder="">
              </div>
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['mobileNumber'].errors?.['required'] && registerForm.controls['mobileNumber'].touched">
                Mobile Number is required!
              </div>
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['mobileNumber'].errors?.['minlength'] && registerForm.controls['mobileNumber'].touched">
                Mobile Number is short!
              </div>
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['mobileNumber'].errors?.['maxlength'] && registerForm.controls['mobileNumber'].dirty">
                Mobile Number is Long!
              </div>
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['mobileNumber'].errors?.['pattern'] && (registerForm.controls['mobileNumber'].touched || registerForm.controls['mobileNumber'].dirty)">
                Mobile Number is Invalid!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <label class="form-label gender">Gender :<label class="imp">*</label></label>
              <input class="radio" id="M" type="radio" formControlName="gender" name="gender" value="M" />
              <label for="M" class="radioOption"> Male</label>
              <input class="radio" id="F" type="radio" formControlName="gender" name="gender" value="F" />
              <label  For="F" class="radioOption"> Female</label>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6 form-group">

              <div class="name">

                <label class="form-label DOB_label">Date of Birth :<label class="imp">*</label></label>

                <input type="date" class="form-control" formControlName="dateOfbirth">

              </div>

              <div *ngIf="registerForm.controls['dateOfbirth'].errors?.['required'] &&

       registerForm.controls['dateOfbirth'].touched" class="form-text text-danger">Please Choose the Date</div>

              <div *ngIf="registerForm.controls['dateOfbirth'].errors?.['dateError'] &&

       registerForm.controls['dateOfbirth'].dirty" class="form-text text-danger">

                {{registerForm.controls['dateOfbirth'].errors?.['dateError'].message}}

              </div>

            </div>

          </div>
          <!-- <br><br><br> -->

          <div class="row">
            <label class="Address"><u>Address :</u><label class="imp">*</label></label>
            <div class="col-md-5 form-group">
              <label class="form-label houseNo_label">House Number :<label class="imp">*</label></label>
              <input type="text" class="form-control" formControlName="houseNumber" placeholder="">
              <div
                *ngIf="registerForm.controls['houseNumber'].errors?.['required'] && registerForm.controls['houseNumber'].touched"
                class="form-text text-danger">House Number is required!</div>
              <!-- <div *ngIf="registerForm.controls['houseNumber'].errors?.['maxlength']" class="form-text text-danger">
                Message must
                be atmost 150 characters long
              </div> -->
            </div>

            <div class="col-md-5 offset-2 form-group">
              <label class="form-label building_label">
                Building/House Name :<label class="imp">*</label>
              </label>
              <input type="text" class="form-control" formControlName="buildingName" placeholder="">
              <div
                *ngIf="registerForm.controls['buildingName'].errors?.['required'] && registerForm.controls['buildingName'].touched"
                class="form-text text-danger">This field is required!</div>
              <!-- <div *ngIf="registerForm.controls['buildingName'].errors?.['maxlength']" class="form-text text-danger">
                Message must
                be atmost 150 characters long
              </div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 form-group">
              <!-- <div class="name"> -->
              <label class="form-label streetAddress_label">
                Street/Area/Colony :<label class="imp">*</label>
              </label>
              <input type="text" class="form-control" formControlName="address" placeholder="">
              <!-- </div> -->
              <div
                *ngIf="registerForm.controls['address'].errors?.['required'] && registerForm.controls['address'].touched"
                class="form-text text-danger">This field is required!</div>
              <!-- <div *ngIf="registerForm.controls['address'].errors?.['maxlength']" class="form-text text-danger">
                Message
                must
                be atmost 150 characters long
              </div> -->
            </div>
            <div class="col-md-5 offset-2 form-group">
              <label class="form-label pincode_label">Pincode :<label class="imp">*</label> </label>
              <input type="text" class="form-control" formControlName="pincode">
              <div
                *ngIf="registerForm.controls['pincode'].errors?.['required'] && registerForm.controls['pincode'].touched"
                class="form-text text-danger">Pincode is required!</div>
              <div *ngIf="registerForm.controls['pincode'].errors?.['minlength']" class="form-text text-danger">
                PinCode is too short
              </div>
              <div *ngIf="registerForm.controls['pincode'].errors?.['maxlength']" class="form-text text-danger">
                PinCode is too long
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 form-group">
              <label for="city " class="form-label city_label">City :<label class="imp">*</label></label>
              <input type="text" class="form-control" formControlName="city" placeholder="">
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['city'].errors?.['required'] && (registerForm.controls['city'].touched|| registerForm.controls['city'].dirty)">
                City is required field.
              </div>
            </div>
            <div class="col-md-5 offset-2 form-group">
              <label for="state" class="form-label">State :<label class="imp">*</label></label>
              <input type="text" class="form-control" formControlName="state" placeholder="">
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['state'].errors?.['required'] && (registerForm.controls['state'].touched|| registerForm.controls['state'].dirty)">
                State is required field.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 form-group">
              <label for="country" class="form-label country_label">
                Country :<label class="imp">*</label>
              </label>
              <input type="" class="form-control" formControlName="country" placeholder="">
              <div class="form-text text-danger"
                *ngIf="registerForm.controls['country'].errors?.['required'] && (registerForm.controls['country'].touched|| registerForm.controls['country'].dirty)">
                Country is required field.
              </div>
            </div>
          </div>
          <div class=" row ">
            <div class="col-md-4 offset-4 text-center button">
              <button type="submit" class="btn btn-theme">Sign Up!</button>
              <!-- [disabled]="registerForm.invalid" class="btn btn-primary -->
            </div>
          </div>
        </div>
        <!--<div *ngIf="showDiv" style="color:red;text-align:center;">
                <br />
                {{msg}}
              </div>-->
      </form>
    </div>
    <div class="text-right text-success"> {{msg}}</div>
    <div class="text-danger">{{msg1}}</div>
  </div>
</div>
<!-- trail1 -->